.key{
    &>img{
        width: 7vw;
        max-width: 40px;
        height: 3vh;
        max-height: 30px;
    }
}
.grey{
    background-color: grey;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}